#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5%;
}

*{
  font-family: ‘Raleway’, sans-serif;
}


body { padding-top: 70px; }
.jumbotron {
  color: #2c3e50;
  background: #ecf0f1;
  font-family: ‘Raleway’, sans-serif;
}
.navbar-inverse {
  background: #2c3e50;
  color: white;
}
.navbar-inverse .navbar-brand, .navbar-inverse a{
  color:white;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
} 

#pictures{
  display: flex;
  
}

#pictures .a{
  height: 20vh;
}